@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<div class="container">
    <h2 class="page-title">Student Body Statistics</h2>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="table-header">
                <tr>
                    <th>Enrollment Date</th>
                    <th>Students</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.EnrollmentDate)</td>
                        <td>@item.StudentCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
