@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="jumbotron-title">Welcome to Summit University</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Streamlined Enrollment Process</h2>
        <p>
            Contoso University simplifies the enrollment experience, ensuring a smooth transition for all students.
            Our dedicated admissions team is here to assist you every step of the way, from application to class registration.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Explore Your Academic Path</h2>
        <p>Find the right program for your goals. Whether you're pursuing an undergraduate or graduate degree, our advisors will help you select the best courses and create an academic plan that sets you up for success.</p>
        <p><a class="btn btn-primary" href="">Explore Programs &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Started Today</h2>
        <p>Start your journey at Summit University by completing your enrollment process. Apply online, meet with an advisor, and register for classes to begin your academic experience.</p>
        <p><a class="btn btn-primary" href="">Manage Enrollment &raquo;</a></p>
    </div>
</div>
